/*
    Desktop
**/
@media screen and (min-width: 1366px) {

    hr {
        height: 100%;
    } 

    .current_main_info--header--magnifier {
        display: none;
    }


    .weather_full_info--main--temperature_mobile_min {
        display: none;
    }

    .weather_full_info--main--temperature_mobile_max {
        display: none;
    }


    .sidebar {
        display: flex;  
        flex-direction: column;
        background-color: rgba(51, 51, 51, 0.6);
        color: white;
        position: fixed;
        height: 100%;
        padding: 2% 5% 0 2%;
    }

    .sidebar--searchbox--digite {
        width: 80%;
        height: 100%;
    }

    .sidebar--cities {
        list-style: none;
        padding-top: 20%;
        width: 150%;
    }

    .sidebar--list {
        padding-top: 5%;
        font-size: 150%;
    }

    .sidebar--cities--icon {
        padding-right: 10%;
    }

    .current_main_info--place_date_text {
        padding-left: 250px;
    }

    .main_class {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 20%;
        height: 50%;
        padding-top: 0;
    }


    .weather_full_info {
        display: flex;
    }

    .weather_full_info:last-child {
        display: inline;
        padding-top: 0; 
    }

    .weather-main-info-tablet {
        padding-left: 0;
    }

    .footer {
        padding-top: 2%;
        padding-left: 30%;
        height: 40%;
    }

}